[mysql]
socket={{ mysqldatadir }}/mysql.sock
[mysqld]
datadir={{ mysqldatadir }}
socket={{ mysqldatadir }}/mysql.sock
log-error={{ mysqldatadir }}/mysqld.log
pid-file={{ mysqldatadir }}/mysqld.pid
mysqlx_socket={{ mysqldatadir }}/mysqlx.sock





